.modal-container{
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background: rgba(0,0,0,.5);
}

.modal-container .modal-content{
    width:50%;
    height:30%;
    margin:100px auto;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
}