{
    "presets": [
        "env",
        "stage-0"
    ],
    "plugins": [
        [
            "extract",
            {
                "library": "jquery"
            }
        ],
        "syntax-decorators"
    ]
}